.options-container {
    height: 50px;
    background: linear-gradient(180deg, #49ac60, #08182d);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}

.width-container {
    width: 50%;
}

@media (max-width: 375px) {
    .width-container {
        width: 95%;
    }
}
